#root {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}
/* Aplicar box-sizing: border-box a todos os elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
 }
body {
    margin: 0;
}
