.footer-container {
    background-color: #333; 
    color: white; 
    padding: 20px 0px;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.footer-content {
    margin: 0;
}
a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    color: rgba(235, 205, 205, 0.692);
    transition: .3s;
}
@media (max-width: 768px) {
    .footer-container{
        font-size: small;
    }
}