.wrapper-main-info {
    width: 90%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.content-main-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: center;
    padding-bottom: 1em;
    gap: 20px;
    padding: 1em;
}

.content-main-info img {
    width: 350px;
}

.description-main-info h1 {
    font-weight: 900;
    letter-spacing: 2px;
    color: #cc3300;
    text-shadow: 2px 5px 7px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.description-main-info {
    max-width: 500px;
}

.wrapper-cortes-especiais {
    background-image: url('../assets/cozinha.webp');
    background-size: cover;
    background-color: rgb(243, 243, 243);
    background-blend-mode: overlay;
    padding: 2em 0;
    border-radius: 20px;
}

.wrapper-cortes-especiais iframe {
    width: 90%;
    height: 510px;

}

@media(max-width: 580px) {
    .description-main-info {
        font-size: 14px;
    }
    .wrapper-cortes-especiais iframe {
        width: 100%;
    }
}

@media(max-width: 420px) {
    .content-main-info img {
        width: 250px;
    }
}