.secao-pontos {
    background-color: #1a1a1a;
    color: white;
    padding: 60px 20px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 0px;
    width: 100%;
    max-width: 900px;
}

.header-pontos h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #e0e0e0;
}

.header-pontos p {
    color: #aaa;
    margin-bottom: 40px;
    font-size: large;
}

.sticky-container {
    height: 400px;
    /* Mantém o conteúdo fixo enquanto você rola os 300vh */
    background-image: url('https://media.istockphoto.com/id/1323401361/pt/foto/barbecue-grill-with-fire-flames-empty-fire-grid-on-black-background.jpg?s=612x612&w=0&k=20&c=lBIvuXfmgKzgt_6eB-6Yus-jtyBCj9TSc-fh3N6AqKo=');
    background-size: cover;
    background-position: center -20px;
    overflow-y: auto;
    position: relative;
}

.imagem-pontos {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    pointer-events: none
}

.scroll-div {
    height: 100vh;
}

.ponto {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    border-radius: 40px;
    box-shadow: 1px 20px 10px 1px rgba(0, 0, 0, 0.678);

    transition: opacity .3s ease;
}

.ponto.mal-passada {
    background-image: url('../assets/ponto_cru.webp');
    background-size: 150%;
    background-position: center center;
}

.ponto.ao-ponto {
    background-image: url('../assets/ponto_ao_ponto.webp');
    background-size: cover;
    background-position: center center;

}

.ponto.para-passada {
    background-image: url('../assets/ponto_ponto_bem.webp');
    background-size: 150%;
    background-position: center center;


}

.ponto.bem-passada {
    background-image: url('../assets/ponto_passada.webp');
    background-size: cover;
    background-position: center center;

}

.info-pontos {
    width: 250px;
    height: fit-content;

    background-color: #381818fb;

    >p {
        margin: 0;
        font-size: 24px;
        font-weight: bolder;
    }
}

.scroll-down {
    animation: scroll-anim 1s infinite alternate;
    cursor: pointer;
}

@keyframes scroll-anim {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(20px);
    }
}

@media(max-width:480px) {
    .secao-pontos {
        padding: 60px 0;
    }

    .header-pontos {
        padding: 0 20px;
    }

    .info-pontos {
        width: 160px;

        >p {
            font-size: 18px;
        }
    }

}