.secao-pontos {
    background-color: #1a1a1a;
    color: white;
    padding: 60px 20px;
    font-family: sans-serif;
    text-align: center;
}

.header-pontos h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #e0e0e0;
}

.header-pontos p {
    color: #aaa;
    margin-bottom: 40px;
    font-size: large;
}

.imagem-pontos {
    width: 100%;

    >img {
        width: 100%;
    }
}

@media(max-width:480px) {
  
}